
*/*/config/bookmarks.txt
*/*/config/recent-files.txt
*.hdr
*.hdri
*/*/datafiles/studiolights/world/*.hdr
*/*/datafiles/studiolights/world/*.hdri
Desktop/2.91/config/recent-files.txt
Desktop/2.91/config/bookmarks.txt
*.exr
*.exr
